/*bootstrap fun css*/


.jumbotron {
	background: rgba(59, 59, 98, 0.5);
	color: white;
	padding 60px;
}

body {
	background: url(https://ak6.picdn.net/shutterstock/videos/18305296/thumb/1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

