<% include ./partials/header %>
<h1>Sign up</h1>
<form action="/register" method="POST">
	<div class="form-group">
		<label for="username">Username</label>
		<input id="username" type="form" name="username" placeholder="Enter username">
	</div>
	<div class="form-group">
		<label for="password">Password</label>
		<input id="password" type="form" name="password" placeholder="password">
	</div>
	<button>Sign up!</button>
</form>
<% include ./partials/footer %>