<% include ../partials/header %>
<div class="container">
	<header class="jumbotron mt-5">
		<h1 class="display-4">Campgrounds</h1>
		<a href="/campgrounds/new" role="button" class="btn btn-primary btn-lg mt-1">Add a new campground</a>
	</header>

	<section class="row">
	<% campground.forEach((campground)=>{ %>
		<div class="col-md-3 col-sm-6">
			<div class="card px-0">
				<img class="card-img-top img-fluid" src="<%= campground.image %>" >
				<div class="card-body px-2 pt-2">
					<h4 class="card-title"><%= campground.name %></h4>
					<a href="/campgrounds/<%= campground._id %>"class="btn btn-large btn-primary">Show</a>
				</div>
			</div>
		</div>
		<%})%>
	</section>
</div>


<% include ../partials/footer %>