<% include ../partials/header %>
<div class="container">
<h1>Create a New Campground</h1>
	<div>
		<form action="/campgrounds" method="post">
			<div class="form-group">
				<label for"newName">Name Of Campground</label>
				<input type="text" class="form-control" id="newName" placeholder="Eg. Paradise" name="newName" maxlength="30">
			</div>
			<div class="form-group">
				<label for"newImage">Image URL</label>
				<input type="text" class="form-control" id="newImage" placeholder="Eg. http://www.images.com/campingsite.jpg" name="newImage">
			</div>
			<div class="form-group">
				<label for"newPrice">Price</label>
				<input type="number" class="form-control" id="newPrice" placeholder="$0.00" name="newPrice" step="0.01" min="0.00">
			</div>
			<div class="form-group">
				<label for"newDesc">Description</label>
				<textarea rows="8" class="form-control" id="newDesc" placeholder="Eg. Alot of coconut trees and clear blue water" name="newDesc"></textarea>
			</div>
			
			<div class="form-group">
				<input type="submit" class="btn btn-lg btn-primary">
			</div>
		</form>
	</div>
	<a href="/campgrounds">Return to view campgrounds</a>
</div>
<% include ../partials/footer %>