<!DOCTYPE html>
<head>
	<title>landing</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="/stylesheets/main.css" type="text/css">
</head>
<body>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container">
      <a class="nav-brand text-white" href="/">Yelpcamp</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav">
			<% if (!currentUser){ %>
			  <li class="nav-item">
				<a class="nav-link text-white" href="/login">Sign in<span class="sr-only">(current)</span></a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link text-white" href="/register">Sign up</a>
			  </li>
			<% } else { %>
				<li class="nav-item">
				<a class="nav-link text-white">Logged in as <%= currentUser.username %></a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="/logout">Sign out</a>
			  </li>
			<% } %>
        </ul>
      </div>
    </div>
  </nav>
<%//========== FLASH MESSAGES ==========%>

<div class="container mt-3">
	<% if(success && success.length > 0) { %>
		<div class="alert alert-success" role="alert">
		  <%= success %>
		</div>
	<% } %>

	<% if(error && error.length > 0) { %>
		<div class="alert alert-danger" role="alert">
		  <%= error %>
		</div>
	<% } %>
</div>
